# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usar치s m칠todos de cadena para modificar el texto con hechos sobre la Luna y luego extraer치s informaci칩n para crear un breve resumen.

El texto con el que trabajar치s es el siguiente:

In [9]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oraci칩n para trabajar con su contenido:

In [11]:
texto_dividido = text.split('.')
texto_dividido

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Ahora, define algunas palabras clave para b칰squeda que te ayudar치n a determinar si una oraci칩n contiene un hecho.

In [12]:
palabras_clave = ["average", "temperature", "distance"]

Cre un bucle para imprimir solo datos sobre la Luna que est칠n relacionados con las palabras clave definidas anteriormente:

In [13]:
for datos in texto_dividido:
 for palabras_clave in palabras_clave:
  if palabras_clave in datos:
   print(datos)
   break

 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 C

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [16]:
for datos in texto_dividido:
 for palabras_clave in palabras_clave:
  if palabras_clave in datos:
   print(datos.replace('C', ' Celsius'))
   break

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127  Celsius

# Ejercicio 2: Formateando Cadenas

Saber c칩mo dar formato a las cadenas es esencial cuando se presenta informaci칩n de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la informaci칩n.

El formato tiene que acomodar informaci칩n sobre otras lunas, por lo que debe ser gen칠rico.

En lugar de reemplazar las variables en una cadena larga como parte de un p치rrafo, utiliza la informaci칩n para presentarla en un formato tabular. El resultado deber칤a verse as칤:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [21]:
# Datos con los que vas a trabajar
name = "Luna"
gravity = 0.00162 # in kms
planet = "Tierra"

Primero, crea un t칤tulo para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, 칰salo para crear un t칤tulo significativo. Utiliza las variables en lugar de escribir.

In [22]:
titulo = f'Gravedad en la {planet}游깷 y la {name}游깿'

Ahora crea una plantilla de cadena multil칤nea para contener el resto de la informaci칩n. En lugar de usar kil칩metros, debes convertir la distancia a metros multiplicando por 1,000.

In [42]:
informacion = f"""{'-'*50} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

Finalmente, usa ambas variables para unir el t칤tulo y los hechos.

In [43]:
union = f"""{titulo.title()} 
{informacion} 
""" 
print(union)

Gravedad En La Tierra游깷 Y La Luna游깿
--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Gan칤medes: 1.4300000000000002 m/s2

Ahora usa informaci칩n de una luna diferente para ver si la plantilla todav칤a funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Gan칤medes'
```

In [52]:
planet = 'Marte '
gravity  = 0.00143
name = 'Gan칤medes'
print(union)

Gravedad En La Tierra游깷 Y La Luna游깿
--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Gan칤medes: 1.4300000000000002 m/s2

La salida no muestra informaci칩n sobre Marte. Todav칤a muestra informaci칩n sobre la Luna. Esto sucede porque las cadenas f est치n ansiosas en su evaluaci칩n, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [57]:
union2 = """
Datos de Gravedad sobre: {name}
-------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""
print(union2.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Gan칤medes
----------
Nombre del planeta: Marte
Gravedad en Gan칤medes: 0.00143 m/s2

Debido a que .format() no permite expresiones, la gravedad en Gan칤medes es incorrecta. Aseg칰rese de que la operaci칩n se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [58]:

print(union2.format(name=name, planet=planet, gravity=(gravity*1000)))

Datos de Gravedad sobre: Gan칤medes
----------
Nombre del planeta: Marte
Gravedad en Gan칤medes: 1.4300000000000002 m/s2